.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    overflow: hidden;
    .image {
        
        img {
            width: 100%;
        }
    }

    .information {
        padding: 20px;
        line-height: 1.5;
        .text-gray{
            color: #6b7280;
        }
    }

    button{
        width: 100%;
        background-color: #e5e7eb;
        margin-top: 8px;
    }
}


@media (max-width: 600px) {
    .card {
        flex-direction: row;
    }
  }