<header class="header">
  <div class="logo-container">
    <a routerLink="/" class="logo">
      <img src="../../../../assets/img/logo.png" alt="" />
      <span>Fast</span>
    </a>
  </div>
  <div class="items">
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="focused">Home</a>
      </li>
      <li>
        <a routerLink="products" routerLinkActive="focused">Products</a>
      </li>
      <li>
        <a routerLink="cart" routerLinkActive="focused"  class="cart">
          <i class="fa-solid fa-cart-shopping"></i><span>Cart</span>
        </a>
      </li>
      <li>
        <a routerLink="auth/login" routerLinkActive="focused" class="login">
          <i class="fa-solid fa-user"></i><span>Login</span>
        </a>
      </li>
    </ul>
  </div>
</header>
